<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input
        matInput
        name="email"
        ngModel
        type="email"
        #emailInput="ngModel"
        placeholder="Email..."
        required
        email>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email address.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password"
        matInput
        name="password"
        ngModel
        #passwordInput="ngModel"
        required
        placeholder="Password...">
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
    </mat-form-field>

    <button
      *ngIf="!isLoading"
      mat-raised-button
      color="accent"
      type="submit">
      Sign up
    </button>
  </form>

</mat-card>
